{% extends 'basic.jinja2' %}

{% block body %}

<div class="jumbotron mt-5">
  <h2 class="display-4">Olá, seja bem-vindo!</h2>
  <p class="lead">Essa é uma aplicação teste para cadastros de dados.</p>
    <a class="btn btn-primary btn-lg" href="{{ url_for('users') }}" role="button">Acessar</a>
  </p>
</div>

{% endblock body %}